.header {
  display: flex;
  justify-content: space-between;
  width: 100vw;
  height: 165px;
  background-color: #790000;
  color: #ffffff;
}

.logo {
  margin: 0 auto;
  padding-left: 20%;
}

.links {
  padding-right: 5%;
  align-self: flex-end;
  font-family: Helvetica;
  font-size: 14px;
  font-weight: bold;
  text-align: center;
  color: var(--white);
}

#site-dropdown {
  background-color: transparent;
  color: #ffffff;
  border: none;
  font-weight: 600;
}

#search-bar {
  background-color: transparent;
  border: none;
  border-bottom: #ffffff;
  text-align: right;
  color: #ffffff;
}
#search-bar::placeholder {
  color: #ffffff;
}

@media screen and (max-width: 1200px) {
  .logo {
    padding-left: 40%;
  }
}

@media screen and (max-width: 900px) {
  .logo {
    padding-left: 43%;
  }

  #site-dropdown {
    padding-right: 5px;
    position: absolute;
    padding-top: 12px;
  }

  #magnifying-glass {
    position: absolute;
    padding-top: 13px;
  }
}
