/* #edit-user-container {
  max-width: 100vw;
  width: 100vw;
} */

.create-header {
  display: flex;
  margin: 4% auto;
  align-items: center;
  font-family: Abril Fatface;
}

#arrow {
  height: 30px;
  width: auto;
  align-self: center;
  padding-right: 15%;
}

.user-create {
  display: flex;
  justify-content: center;
}

#create-user {
  font-size: 64px;
  color: #000000;
}

.create-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#personal-info-box {
  display: flex;
}

#state-district-grade-box {
  display: flex;
  max-width: 80vw;
  width: 80vw;
}

input {
  background-color: #f1f1f1;
  border-radius: 25px;
  width: 284px;
  height: 40px;
}

.name-box,
.email-box,
.state-box,
.district-box,
.grade-box {
  display: flex;
  flex-direction: column;
  margin: 12px 10px;
}

#checkboxes-box {
  border: 2px solid red;
  display: flex;
  flex-direction: column;
}

#checkbox-first-row,
#checkbox-second-row {
  border: 2px solid blue;
  display: flex;
  max-width: 80vw;
  width: 80vw;
}

#english-box,
#reading-box,
#writing-box,
#music-box,
#language-box,
#science-box,
#math-box,
#social-box,
#arts-box,
#pe-box,
#other-box {
  border: 2px solid black;
  display: flex;
  text-align: left;
}
