#create-user-container {
  margin-left: 5%;
}

#create-header {
  display: flex;
  font-family: Abril Fatface;
}

#create-arrow {
  height: 40px;
  width: auto;
  margin-top: 45%;
  padding-right: 10%;
}

#user-create {
  display: flex;
  justify-content: center;
}

#create-user {
  font-size: 64px;
  color: #000000;
}

#user-create-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#create-personal-info-box {
  display: flex;
}

#state-district-grade-box {
  display: flex;
  max-width: 80vw;
  width: 80vw;
}

#state-district-grade-box {
  display: flex;
  max-width: 80vw;
  width: 80vw;
}

input {
  background-color: #f1f1f1;
  border-radius: 25px;
  width: 284px;
  height: 40px;
}

input.checkbox {
  border-radius: 100%;
  background-color: #f1f1f1;
}

.name-box,
.email-box,
.state-box,
.district-box,
.grade-box {
  display: flex;
  flex-direction: column;
  margin: 12px 10px;
}

#checkboxes-box {
  display: flex;
  flex-direction: column;
}

#checkbox-first-row,
#checkbox-second-row {
  display: flex;
  max-width: 80vw;
  width: 80vw;
}

#english-box,
#reading-box,
#writing-box,
#music-box,
#language-box,
#science-box,
#math-box,
#social-box,
#arts-box,
#pe-box {
  display: flex;
  text-align: left;
  align-items: center;
  min-width: 10vw;
  padding: 15px;
}

#other-box {
  justify-content: space-around;
  max-width: 400px;
}

#create-save-button {
  margin-top: 5%;
  margin-left: 35%;
}
