#login-main-container {
  min-height: 39vh;
}

#login-header-container {
  display: flex;
  margin: 4% auto;
  align-items: center;
  font-family: Abril Fatface;
  margin-left: 5%;
}

#login-header {
  font-size: 75px;
  padding-left: 2%;
  padding-bottom: 0.5%;
}

#credentials-box {
  display: flex;
  padding: 25px;
  justify-content: center;
}

#login-email,
#password {
  color: #000000;
}
