.button-container {
  display: flex;
  justify-content: space-around;
}

.edit-button {
  background-color: #ffad32;
  color: black;
  border-radius: 10px;
  width: 60px;
  margin: 0 auto;
}

.delete-button {
  background-color: #ef3a3a;
  color: black;
  border-radius: 10px;
  width: 60px;
  margin: 0 auto;
}
