#ed-btn {
  padding: 5px;
  font-weight: bold;
}

#del-btn {
  padding: 5px;
  width: fit-content;
  font-weight: bold;
  margin: 15px;
}

#form-box {
  display: flex;
  justify-content: center;
  padding: 10px;
}

#button-box {
  display: flex;
  max-width: 50vw;
}
