.top-box {
  position: relative;
  display: inline-block;
}

#welcome {
  font-size: 64px;
  color: white;
}

.top-box .text-and-buttons {
  position: absolute;
  z-index: 999;
  margin: 0 auto;
  left: 0;
  right: 0;
  top: 40%;
  text-align: center;
  width: 60%;
}

#left-button {
  background-color: #d58936;
  width: 172px;
  height: 39px;
  border: none;
  border-radius: 50px;
  margin-right: 20px;
}

#right-button {
  width: 172px;
  height: 39px;
  border: none;
  border-radius: 50px;
  background-color: white;
  color: black;
}

#home-image {
  width: 1440px;
  height: 525px;
}

.bottom-box {
  display: flex;
}

#card-box {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 5% 25%;
}
