nav {
  background-color: #d58936;
  width: 100vw;
  height: 60px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  display: flex;
}

.nav-bar {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.nav-elements {
  display: flex;
  align-self: center;
  padding-top: 1%;
  padding-left: 4%;
}

#nav-dropdown {
  display: flex;
  font-family: "Inter", sans-serif;
  align-self: center;
  padding-right: 5%;
}

#nav-toggle {
  background-color: transparent;
  color: #000000;
  border: none;
  font-size: 15px;
}

.dropdown-item:hover {
  background-color: #790000;
  color: #fff;
}

ul {
  display: flex;
  list-style: none;
  color: #000000;
}

ul > li {
  padding: 0 25px;
  font-family: "Inter", sans-serif;
  font-size: 14px;
  font-weight: 900;
}

a {
  text-decoration: none;
  color: #000000;
  font-family: "Inter", sans-serif;
  font-size: 14px;
  font-weight: 900;
}
